#accomplishmentContainer {
    position: absolute;
    top: -1000px;
    margin: auto;
    display: block;
    z-index: 100;
    width: 60%;
    color: #333;
    background-color: #fff;
    opacity: .5;
    box-shadow: 0px 0px 20px 3px rgba(150,150,150, .5);
    overflow: auto;
}
#accomplishmentContainer:hover {
    opacity: 1;
    background-color: #cbffec;
    transition: all .25s linear;
}
#accomplishmentContainer > header {
    display: block;
    text-align: center;
    font-size: 18px;
    color: limegreen;
    margin: 15px 18px 5px 20px;
    background-color: #202020;
    border-radius: 5px;
    height: 32px;
    vertical-align: central;
}
#accomplishmentMinMax {
    float: right;
    color: #acffe1;
    background-color: #202020;
    padding: 3px;
    margin: 0px 3px 3px 0px;
}
#accomplishmentMinMax:hover {
    cursor: pointer;
}
#accomplishments {
    top: 0px;
    font-size: 18px;
    padding: 5px 50px 5px 50px;
    word-wrap: break-word;
}