#accomplishmentContainer {
    min-width: 95%;
    padding: 15px;
    margin: auto;
}
.modal-header,
.modal-footer {
    color: #f0ffff;
    background-color: #555;
}
.modal-footer button {
    color: #333;
    background-color: #cbffec;
}
.modal-body {
    margin: 0;
    color: #f0ffff;
    background-color: #333;
    line-height: 1.75;
    font-weight: 100;
    font-size: 18px;
}
#accomplishmentMinMax {
    float: right;
    color: #acffe1;
    background-color: #202020;
    padding: 3px;
    margin: 0px 3px 3px 0px;
}
#accomplishmentMinMax:hover {
    cursor: pointer;
}
#accomplishments {
    top: 0px;
    font-size: 18px;
    padding: 5px 35px 5px 35px;
    word-wrap: break-word;
}