.home-render-action {
    height: 100%;
    background-color: #343A40;
}
.home-render-action table.tableRow:first-child th:first-child {
    width: 100vw;
    padding: 0 0 25px 0;
    margin: 0;
}
.home-render-action table.tableRow:nth-child(1) {
    width: 100%;
}
.home-render-action table.tableRow:nth-child(1) tbody tr:first-child td {
    width: 100%;
    color: #fff;
    font-family: Raleway-Thin;
    font-size: 35px;
    text-align: center; 
}
.home-render-action table.tableRow:nth-child(1) tbody tr:first-child td span {
    text-align: center;
}
.home-render-action table.tableRow:nth-child(2) td {
    width: 50%;
    vertical-align: top;
    padding: 20px;
}
.home-render-action table.tableRow:nth-child(3) td {
    vertical-align: top;
    padding: 20px;
}
.home-render-action table.tableRow:nth-child(3) td div:last-child {
    margin-top: 15px;
    margin-bottom: 15px;
}
.home-render-action table.tableRow:nth-child(3) td div li {
    list-style: none;
    padding-left: 5px;
}
.home-render-action table.tableRow:nth-child(3) td div li ul > li {
    list-style: none;
    list-style-position: inside;
    padding-left: 25px;
}