.home-render-action {
    height: 100%;
    background-color: #343A40;
}
.home-render-action table.tableRow:first-child th {
    vertical-align: top;
    color: #f0ffff;
}
.home-render-action table.tableRow:first-child:first-child th:first-child {
    width: 40vw;
    padding: 10px 10px 30px 10px;
}
.home-render-action table.tableRow:first-child:first-child th:first-child h1 span:first-child {
    color: #f0ffff;
    padding-left: 10px;
}
.home-render-action table.tableRow:first-child th:nth-child(2) {
    width: 25vw;
    text-align: left;
    font-size: 18px;
    padding-top: 15px;
}
.home-render-action table.tableRow:first-child th:nth-child(3) {
    width: 25vw;
    text-align: right;
}
.home-render-action table.tableRow:first-child th:nth-child(3) div.container div div.contact i {
    line-height: 1px;
}
.home-render-action table.tableRow:first-child th:nth-child(3) div.container div div.contact + div {
    text-align: left;
    padding-top: 8px;
}
.home-render-action table.tableRow:first-child th:nth-child(3) div.container div div.contact div#linkedinIcon {
    width: 17px;
    height: 17px;
    border-radius: 1px;
    color: #101010;
    background-color: #00ffb4;
    padding: 0px 1px 0px 0px;
    margin: 9px 17px 0px 0px;
    float: right;
}
.home-render-action table.tableRow:nth-child(2) {
    width: 100%;
}
.home-render-action table.tableRow:nth-child(2) tbody tr:first-child td {
    width: 100%;
    color: black;
    background-color: #f0ffff; 
    font-size: 18px;
    text-align: center; 
}
.home-render-action table.tableRow:nth-child(2) tbody tr:first-child td span {
    text-align: center;
}
.home-render-action table.tableRow:nth-child(3) tbody tr td {
    color: #f0ffff;
    padding: 25px;
}
.home-render-action table.tableRow:nth-child(3) tbody tr td div:last-child {
    margin-top: 15px;
    margin-bottom: 15px;
}
.home-render-action table.tableRow:nth-child(3) tbody tr td div li {
    list-style: none;
    padding-left: 5px;
}
.home-render-action table.tableRow:nth-child(3) tbody tr td div li ul > li {
    list-style: square;
    list-style-position: inside;
    padding-left: 25px;
}
