/* site theme
    {
        colors & bgs
            #343A40 - bootstrap table-dark base color
            #cbffec - mint
            #00ffb4 - dark mint
            #333    - dark grey
            #f0ffff - light azure blue
            #c0cccc - medium azure blue
            #cbeef0 - light teal
            #101010 - dark charcoal
            #43494E - charcoal
    }
*/
body {
    min-height: 100%;
    line-height: 1.5;
    font-family: 'Raleway-Light', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #909999;
    overflow: hidden;
}
body, div, header, span, nav, ul, li, i, a
section, aside, header, footer,
.container, .row, .col {
    margin: 0px;
    padding: 0px;
}
.panelsContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 1fr;
}
.section:hover,
.section {
    cursor: pointer;
    position: relative;
    top: 0px;
}
/* ------------------------------------------------------------------------------------- [#section-1 - Menu Panel] */
#section-1 {
    background-color: #101010;
    transition: width .15s;
    transition-timing-function: linear;
    line-height: 1;
}
#section-1 #nav-bar-container{
    color: #cbffec;
}
#section-1 ul.nav-level-1 li i.material-icons {
    top: 4px;
}
#section-1 ul.nav-level-1 li:first-child {
    font-family: Quicksand-Regular;
    color: #101010;
    background-color: #00ffb4;
}
#section-1 ul.nav-level-1 li:first-child:hover {
    background-color: #f00;
    transition: background-color .25s linear;
}
#section-1 ul.nav-level-1 li div {
    padding: 10px 10px 10px 48px;
    color: #333;
    background-color: #cbffec;
}

#section-1 ul.nav-level-1 li div:hover,
#section-1 ul.nav-level-1 li div span:hover{
    color: #cbffec;
    background-color: #333;
}
/* ------------------------------------------------------------------------------------- [#section-2 - Content Panel] */
#section-2 {
    transition: all 0.15s ease;
    transition-property: width, left;
    overflow-y: scroll;
}
#section-2 .container {
    min-width: 99%;
    margin: auto;
}
#section-2 .container .row > div.col {
    margin-top: 10px;
}
#flexIcon {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f0ffff;
    padding: 5px 15px 5px 0px;
}
#contentPanel {
    width: 100%;
    margin: auto;
    background-color: #f0ffff;
}
#contentPanel .body {
    position: absolute;
    padding: 0px 10px 0px 10px;
    margin: auto;
    background-color: #f0ffff;
    overflow-y: auto;
}
#contentPanel .body table:first-of-type thead th:last-of-type {
    padding-top: 10px;
}
/* ------------------------------------------------------------------------------------- [anchors]  */
a {
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
}
a:hover {
    color: #000;
    background-color: red;
    font-family: 'Quicksand-Regular';
    text-decoration: none;
    transition: all .15s linear;
}
/* ------------------------------------------------------------------------------------- [action classes]  */
.nav-panel-expanded {
    width: 275px;
}
.display-block {
    display: none;
}
.active {
    color: #333;
    background-color: #00ffb4;
}
.collapsible {
    height: 0%;
    transition: all .75s linear;
}
.table-collapse {
    visibility: collapse;
    color: #333;
}
.columnHeader {
    font-size: 18px;
    font-weight: bold;
}
.text-Highlight {
    color: #333;
    background-color: #fff;
    padding: 0px 4px 2px 4px;
    border-radius: 3px;
}
.text-Highlight-mint {
    font-weight: bold;
    color: black;
    background-color: #00ffb4;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.10);
}
.paragraph-title { /* this is like text-Highlight-mint, but this class is used by javascript to actuate hyper-link */
    font-weight: bold;
    color: black;
    background-color: #00ffb4;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgba(50,50,50, 0.30);
}
.paragraph-title:hover {
    background-color: red;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.10);
    transition: all .5s ease-in-out;
}
.paragraph-title-click {
    font-size: 14px;
    color: #fff;
    background-color: #f00;
    border-radius: 3px;
}
.zoom-text {
    cursor: pointer;
    font-size: 24px;
    color: lightcyan;
    transition: all .1s linear;
}
.table-column-header {
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #cbffec;
    border-radius: 3px;
    padding: 10px;
}
/* ------------------------------------------------------------------------------------- [tooltip/aka popcorn] */
#tooltip {
    position: relative;
    left: -2000px;
    color: white;
    background-color: #333333;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
}
/* ------------------------------------------------------------------------------------- [Rules for sizing the icon] */
.material-icons.md-12 {
    font-size: 12px;
    padding: 15px;
}
.material-icons.md-14 {
    font-size: 14px;
    padding: 15px;
}
.material-icons.md-16 {
    font-size: 16px;
    padding: 15px;
}
.material-icons.md-18 {
    font-size: 18px;
    padding: 15px;
}
.material-icons.md-24 {
    font-size: 24px;
    padding: 15px;
}
.material-icons.md-36 {
    font-size: 36px;
    padding: 15px;
}
.material-icons.md-48 {
    font-size: 48px;
    padding: 15px;
}
/* ------------------------------------------------------------------------------------- [Rules for using icons in a colorful background] */
.material-icons.md-mint {
    color: rgba(203, 255, 236, 1.0);
}
.material-icons.md-darkmint {
    color: rgba(0, 255, 180, 1.0);
}
.material-icons.md-black {
    color: rgba(0, 0, 0, 1.0);
}
.material-icons.md-brightgreen {
    color: rgba(127, 255, 0, 1.0);
}
.material-icons.md-brightgreen-inactive {
    color: rgba(127, 255, 0, 0.3);
}